html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #FF98D8;
}

img {
  padding: 10px;
  background-color: #FFFFFF;
  height: 100vh;
}

.initPosition {
  position: absolute;
  right: 10vw;
}

.larger {
  transform: scale(1.5l) ;
}

.hidden {
  display: none;
}
